name: Checks
on:
  pull_request:

jobs:
  cppcheck:
    name: Cppcheck
    runs-on: ubuntu-22.04
    timeout-minutes: 5

    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: src/pg_stat_monitor

      - name: Checkout cppcheck sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: "danmar/cppcheck"
          ref: "2.13.4"
          path: src/cppcheck

      - name: Build and install cppcheck
        working-directory: src/cppcheck
        run: |
          mkdir build
          cd build
          cmake ..
          cmake --build .
          sudo cmake --install .

      - name: Execute linter check with cppcheck
        working-directory: src/pg_stat_monitor
        run: |
          set -x
          cppcheck --enable=all --inline-suppr --template='{file}:{line},{severity},{id},{message}' --error-exitcode=1 --suppress=missingIncludeSystem --suppress=missingInclude --suppress=unmatchedSuppression:pg_stat_monitor.c --check-config .

  format:
    name: Format
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install pgindent and pg_bsd_indent
        run: |
          sudo apt-get install -y postgresql-server-dev-16

      - name: Add pg_bsd_indent and pgindent to path
        run: |
          echo "/usr/lib/postgresql/16/bin" >> $GITHUB_PATH

      - name: Format sources
        run: |
          wget -q -O - "https://buildfarm.postgresql.org/cgi-bin/typedefs.pl?branch=REL_18_STABLE" | cat - typedefs.list | sort | uniq > typedefs-full.list
          pgindent --typedefs=typedefs-full.list .

      - name: Check files are formatted and no source code changes
        run: |
          git status
          git diff --exit-code

  license:
    name: License
    runs-on: ubuntu-22.04
    timeout-minutes: 5

    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check license headers
        uses: apache/skywalking-eyes/header@61275cc80d0798a405cb070f7d3a8aaf7cf2c2c1 # v0.8.0
        with:
          token: "" # Prevent comments
