name: Checks
on:
  pull_request:

env:
  pg_version: 18
  pg_package: pgdg

jobs:
  check:
    name: Check
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Remove existing PostgreSQL
        run: sudo apt purge postgresql*

      - name: Clone repository
        uses: actions/checkout@v5
        with:
          submodules: recursive
          ref: ${{ github.ref }}

      - name: Install dependencies
        run: ci_scripts/ubuntu-deps.sh

      - name: Install PostgreSQL
        run: ci_scripts/install-postgresql.sh ${{ env.pg_package }} ${{ env.pg_version }}

      - name: Build pg_stat_monitor
        run: ci_scripts/build.sh debug

      - name: Update typedefs
        run: ci_scripts/dump-typedefs.sh

      - name: Run pgindent
        run: ci_scripts/run-pgindent.sh --check --diff

      - name: Run pgperltidy
        run: ci_scripts/run-pgperltidy.sh --assert-tidy --standard-error-output

  license:
    name: License
    runs-on: ubuntu-22.04
    timeout-minutes: 5

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Check license headers
        uses: apache/skywalking-eyes/header@v0.8.0
        with:
          token: "" # Prevent comments
