name: Check
on:
  pull_request:

env:
  pg_version: 18
  pg_package: pgdg

jobs:
  format:
    name: Format
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Remove existing PostgreSQL
        run: sudo apt purge postgresql*

      - name: Clone repository
        uses: actions/checkout@v5
        with:
          submodules: recursive
          path: src
          ref: ${{ github.ref }}

      - name: Clone postgres repository
        uses: actions/checkout@v5
        with:
          path: postgres
          repository: percona/postgres.git
          ref: PSP_REL_${{ env.pg_version }}_STABLE

      - name: Install dependencies
        run: src/ci_scripts/ubuntu-deps.sh dev

      - name: Build and install PostgreSQL
        run: src/ci_scripts/build-postgres.sh debug

      - name: Build pg_stat_monitor
        run: src/ci_scripts/build.sh debug

      - name: Update typedefs
        run: src/ci_scripts/dump-typedefs.sh

      - name: Run pgindent
        run: src/ci_scripts/run-pgindent.sh --check --diff

      - name: Run pgperltidy
        run: src/ci_scripts/run-pgperltidy.sh --assert-tidy --standard-error-output

  license:
    name: License
    runs-on: ubuntu-22.04
    timeout-minutes: 5

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Check license headers
        uses: apache/skywalking-eyes/header@v0.8.0
        with:
          token: "" # Prevent comments
