name: PGXN
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
        type: string

permissions:
  contents: read

jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    container: pgxn/pgxn-tools
    steps:
    - name: Validate version tag
      run: '[[ ${{ inputs.version }} =~ ^[0-9]+.[0-9]+.[0-9]+ ]]'
      shell: bash

    - name: Check out
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        ref: '${{ inputs.version }}'

    - name: Bundle
      id: bundle
      run: pgxn-bundle

    - name: Upload
      env:
        PGXN_USERNAME: percona
        PGXN_PASSWORD: ${{ secrets.PGXN_PERCONA }}
      run: pgxn-release
